body {
    background-color: black;
    color: white;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#platformerpage {
    color: white;
    top: 1000px;
    left: 700px;
}